<header class="title-container">
  <i class="fa-solid fa-scale-balanced"></i>
  <span>Calculadora de IMC - Web Architecture</span>
</header>
<hr>
<main class="container col-12">
  <div class="row">
    <div class="calculator">
      <label for="peso">Peso</label>
      <input type="text" [(ngModel)]="peso" placeholder="Peso">
      <label for="altura">Altura</label>
      <input type="text" [(ngModel)]="altura" placeholder="Altura">
      <label for="resultado">Resultado</label>
      <div class="result-display">
        {{ resultado }}
      </div>
    </div>
  </div>
</main>